<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="full_name">Họ và tên:</label>
    <input type="text" id="full_name" formControlName="full_name">
  </div>
  <div>
    <label for="user_name">Username:</label>
    <input type="text" id="user_name" formControlName="user_name">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    </div>

    <!-- <div><label for="password2">Nhập lại Password:</label>
      <input type="password2" id="confirmPassword" formControlName="confirmPassword"></div>
      <div *ngIf="!checkPassword">
        Passwords không giống nhau
      </div> -->
    <div><label for="phone_number">Số Điện Thoại</label>
      <input type="phone_number" id="phone_number" formControlName="phone_number">
    </div>
    <div><label for="email">email</label>
      <input type="email" id="email" formControlName="email">
    </div>

  <button type="submit" [disabled]="registerForm.invalid">Đăng ký</button>
</form>
