
	<!-- Shopping Cart Section Begin -->
	<section class="shopping-cart spad">
		<div class="container">
			<form action="" method="POST" enctype="multipart/form-data">
				<div class="row">
					<div class="col-lg-8">
						<div class="shopping__cart__table">
							<table>
								<thead>
									<tr>
										<th>Product</th>
									</tr>
								</thead>
								<tbody>

									<div *ngFor=" let item of product"   >
										<tr *ngFor="let i of cart">
                      <div *ngIf="i.product_id == item.id">
											<td class="product__cart__item">
												<div style="max-width: 90px; max-height: 90px;" class="product__cart__item__pic">
                          <img mat-card-image [src]="item.productImages[0].urlImage">
												</div>
												<div class="product__cart__item__text">
													<h6 [textContent]="item.productName"></h6>
													<h5 [textContent]="item.price + ' VNĐ'"></h5>
												</div>
											</td>
											<td class="quantity__item" >
												<div class="quantity">
													<div class="pro-qty-2">
                            <input type="number"  [name]="i.count " [value]="i.count" (change)="onChange($event, i)">
                          </div>
												</div>
											</td>
											<td class="cart__price" [textContent]="item.price * i.count"></td>
											<td class="cart__close">
                        <a href="" (click)="onDeleteProductInCart(item.id)"  >
                          <i class="fa fa-close"></i></a></td>
                        </div>
										</tr>

                  </div>

								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="continue__btn">
									<a th:href="@{/shop}">Continue Shopping</a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6" >

								<div class="continue__btn update__btn">
									<button formaction="/updateCart">
										<i class="fa fa-spinner"></i> Update cart
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<!-- <div class="cart__discount">
							<h6>Discount codes</h6>
							<form action="#">
							<input type="text" placeholder="Coupon code">
							<button type="submit">Apply</button>
							</form>
						</div> -->
						<div class="cart__total">
							<h6>Cart total</h6>
							<ul>
								<li>Customer <span [textContent]="user.userName"></span></li>
								<li>Total <span [textContent]="TongGia +' VNĐ'"></span></li>
							</ul>
							<a href="" class="primary-btn">Proceed to
								checkout</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- Shopping Cart Section End -->
